<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Accessbolaget AB</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        
        <a href="mailto:info@accessbolaget.se">info@accessbolaget.se</a>
        
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>

       <div class="footer-col  footer-col-3">
        <p class="text">© Copyright Accessbolaget AB 2014</p>
      </div>
    </div>

  </div>

</footer>
